<div class="card">
  <div class="card-body">
    <div class="row form_fieldset">
      <div class="col-12 col-md-6 mb-2 mt-2">
        <label for="">Nombre</label>
        <%= form.text_field :name, id: "name", class: "form-control", placeholder: "Día de la Madre" %>
        <label id="name_error"></label>
      </div>
      <div class="col-12 col-md-6 mb-2 mt-2">
        <label for="">Fecha</label>
        <%= form.text_field :date, id: "date", placeholder: "dd / mm / aaaa", autocomplete: "off", class: "form-control", "data-date-format": 'mm/dd/yyyy', "data-provide": 'datepicker', 'data-date-language': 'es' %>
        <label id="date_error"></label>
      </div>
    </div>
    
    <%= form.submit "Guardar", id: 'btn_submit', class: "btn btn-success mt-4" %>
    <%= link_to('Cancelar', admin_holidays_path, class: 'btn btn-light ml-sm-3 mt-4')%>
  </div>
</div>