<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
    <Row>
      <Cell><Data ss:Type="String"><%= BacInfo.complete_firts("B" + @bac_info.plan + @bac_info.shipping) + "00000" + @bac_info.date + BacInfo.complete_total(@total_amount + @total_decimal) + BacInfo.complete_total_records(@count.to_s) %></Data></Cell>
    </Row>
    <% @position = 0 %>
    <% ChristmasBonification.where(from_date: @extra_payrole.from_date).order(name: :asc).each_with_index do |extra_payrole, index| %>

      <% @employee = Employee.find(extra_payrole.employee_id ) %>

      <% if extra_payrole.bank == "BAC" && extra_payrole.account != "" && extra_payrole.total.to_i > 0 && @employee.active %>
      <% @position += 1 %>
        <Row>

          <% if extra_payrole.employee.account_owner != nil && extra_payrole.employee.account_owner != "" %>
            <% @account_owner = extra_payrole.employee.account_owner %>
          <% else %>
            <% @account_owner = extra_payrole.employee.name %>
          <% end %>

          <% if @employee.account_identification != nil && @employee.account_identification != "" %>
            <% @account_identification = @employee.account_identification %>
          <% else %>
            <% @account_identification = @employee.identification %>
          <% end %>

          <% net_salary_amount = extra_payrole.total.split(".")[0] %>
          <% net_salary_decimal = "00" %>
          <% if  extra_payrole.total.split(".")[1] %>
            <% net_salary_decimal = extra_payrole.total.split(".")[1] + ("0" * (2 - extra_payrole.total.split(".")[1].length)) %>
          <% end %>

          <Cell><Data ss:Type="String"><%= BacInfo.complete_firts("T" + @bac_info.plan + @bac_info.shipping + BacInfo.complete_identification(@account_identification, @employee.id_type)) + BacInfo.complete_index((@position).to_s) + @bac_info.date +  BacInfo.complete_total(net_salary_amount + net_salary_decimal)  +  "     " + BacInfo.complete_concept(@bac_info.concept + " " + BacInfo.fix_name(extra_payrole.employee.name)) + BacInfo.fix_name(@account_owner) %></Data></Cell>
        </Row>
      <% end %>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>