<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
    <Row>
      <Cell><Data ss:Type="String"><%= "1" + @bn_info.company + @bn_info.date + @bn_info.consecutive + "000000" + @bn_info.transfer_type + "0000000000000000000000000000000000000000"%></Data></Cell>
    </Row>
    <Row>
      <Cell><Data ss:Type="String"><%= "2" + @bn_info.account[5,3] + @bn_info.account[0,5] + @bn_info.account[8,7] + "00000001" +  BncrInfo.complete_amount(@total_amount + @total_decimal) + @bn_info.concept + (" " * (30 - @bn_info.concept.length)) + "00"%></Data></Cell>
    </Row>
    <% @position = 0 %>
    <% ChristmasBonification.where(from_date: @extra_payrole.from_date).order(name: :asc).each_with_index do |extra_payrole, index| %>

      <% @employee = Employee.find(extra_payrole.employee_id ) %>

      <% if @employee.bank == "BNCR" && @employee.account != "" && extra_payrole.total.to_i > 0 %>
      <% @position += 1 %>
      <% @concept = truncate(BncrInfo.create_concept(@bn_info.employee_concept, @employee.name), length: 26, omission: '') %>
      <% if @concept.length < 26 %>
        <% @concept += (" " * (26-@concept.length)) %>
      <% end %>
        <Row>
          <% net_salary_amount = extra_payrole.total.split(".")[0] %>
          <% net_salary_decimal = "00" %>
          <% if  extra_payrole.total.split(".")[1] %>
            <% decimals_amount = extra_payrole.total.split(".")[1].length %>
            <% if decimals_amount > 2 then decimals_amount = 2 end  %>
            <% net_salary_decimal = extra_payrole.total.split(".")[1] + ("0" * (2 - decimals_amount)) %>
          <% end %>

          <Cell><Data ss:Type="String"><%= "3" + @employee.account[5,3] + @employee.account[0,5] + @employee.account[8,7] + BncrInfo.complete_voucher_number(@position.to_s) + BncrInfo.complete_amount(net_salary_amount + net_salary_decimal) + @concept + (" " * 4) + "00" %></Data></Cell>
        </Row>
      <% end %>
      
    <% end %>
    <Row>
      <Cell><Data ss:Type="String"><%= "4" + BncrInfo.complete_amount_end(@total_amount_2 + @total_decimal_2) + BncrInfo.comple_accounts(@sumAccounts.to_s) + "000000000000000000000000000000000000000000" %></Data></Cell>
    </Row>
    </Table>
  </Worksheet>
</Workbook>