
<div class="row justify-content-center">
  <div class="col-10 mb-5">
    <%if notice%>
      <p class="alert alert-primary" role="alert" id="notice"><%= notice %></p>
    <% end %>
    <h2 class="d-sm-inline mr-5">Clientes</h2>
      <% if @customers.length > 10%>
        <%= link_to('Nuevo Cliente', new_admin_customer_path, class: 'btn primary-btn d-sm-inline')%>
      <% end -%>
  </div>
</div>
<div class="row justify-content-center" >
  <div class="col-12 col-md-9" style="">
    <div class="row justify-content-center">
      <div class="col-12 m-2">
        <div id="customerstable"><%= render 'admin/customers/partials/table', locals: {customers:  @customers}%></div>
      </div>
    </div>
  </div>
</div>