<div class="row justify-content-center">
  <div class="col-10">
    <div class="row">
      <h2>Nuevo Cliente</h2>
    </div>
  </div>
</div>
<div class="row justify-content-center" >
  <div class="col-12 col-md-9">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-9 col-sm-9 col-xs-9">
        <%= form_for(@customer, url: admin_customers_path(@customer), html: {multipart: true}) do |form| %>
          <%= render 'admin/customers/partials/form', form: form %>
        <% end %>
      </div>
    </div>
  </div>
</div>