<div class="bg-body-light">
  <div class="content content-full">
    <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
      <h1 class="flex-sm-fill font-size-h2 font-w400 mt-2 mb-0 mb-sm-2">Pagos</h1>
      <select class="form-control col-md-2" name="status" id="status" onchange="filterByStatus()">
        <option value="Activo">Activo</option>
        <option value="Inactivo">Inactivo</option>
      </select>
      <%= link_to(new_admin_payment_path, class: 'btn btn-success flex-sm-00-auto ml-sm-3') do %>
        <i class="fa fa-fw fa-plus mr-1"></i>Crear Pago
      <% end %>
    </div>
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible fade show mt-4 d-flex justify-content-center" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
  </div>
</div>
<div id="paymentsTable"><%= render 'admin/payments/partials/table', locals: {payments:  @payments}%></div>