
<div class="row justify-content-center">
  <div class="col-10">
    <%if notice%>
      <p class="alert alert-primary" role="alert" id="notice"><%= notice %></p>
    <% end %>
    <h2>Centros de Costos</h2>
  </div>
</div>
<div class="row justify-content-center" >
  <div class="col-12 col-md-9" style="">
    <div class="row justify-content-center">
      <div class="col-12 m-2">
        <div id="costCenterTable"><%= render 'admin/cost_centers/partials/table', locals: {cost_centers:  @cost_centers}%></div>
      </div>
    </div>
  </div>
</div>