<div class="row">
  <div class="col-6">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Empleado</th>
          <th scope="col">Turno</th>
          <th scope="col">Puesto</th>
        </tr>
      </thead>
      <tbody>
        <div class="col-12"><%= render 'admin/roles/partials/table_rows', stall:  stall %></div>
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Empleado</th>
          <th scope="col">Turno</th>
          <th scope="col">Puesto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>