<div class="row mt-1 ml-1  mr-1 pt-3 tbl_head d-none d-xl-flex text-center" style="border-bottom: none;">
  <div class="col-12 col-xl-2">
    <p class="text-uppercase">Desde</p>
  </div>
  <div class="col-12 col-xl-2">
    <p class="text-uppercase">Hasta</p>
  </div>
  <div class="col-12 col-xl-2">
    <p class="text-uppercase">Cargo</p>
  </div>
  <div class="col-12 col-xl-2">
    <p class="text-uppercase">Turno</p>
  </div>
  <div class="col-12 col-xl-2">
    <div class="row">
      <div class="col-xl-6">
        <p class="text-uppercase">Horas</p>
      </div>
      <div class="col-xl-6">
        <p class="text-uppercase">Cantidad</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-xl-1">
    <p class="text-uppercase">Librero</p>
  </div>
  <div class="col-12 col-xl-1">
    <p class="text-uppercase">Acciones</p>
  </div>
</div>
<div class="role_lines-fields">
  <%= form.fields_for :requirements do |requirement| %>
    <%= render 'requirement_fields', f: requirement %>
  <%end%>
</div>
<div class="col-12 text-center p-2 tbl_footer">
  <%= link_to_add_association ' + Agregar Requerimiento', form, :requirements, data: { association_insertion_mode: '.requirements.fields', partial: 'requirement_fields'}, class: 'btn add_btn' %>
</div>