<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-center text-center">
      <h2 class="d-none d-md-flex">Revisión de modificaciones para: <%= @role.name %> </h2>
      <h5 class="d-md-none">Revisión de modificaciones para: <%= @role.name %> </h5>
    </div>
    <% if @role.stalls.size > 0 %>
      <div class="row d-flex justify-content-center mt-4">
      <% @role.stalls.order(name: :asc).each do |stall| %>
          <div class="col-6 col-sm-4 col-xl-2 pt-md-1 pb-md-1 text-center" style="border:1px solid;">
            <%= link_to(stall.name,admin_check_role_changes_path(@role, stall), class:'' )%>
          </div>
      <% end %>
      </div>
    <%end %>
  </div>
</div>