<div class="row justify-content-center">
  <div class="col-10">
    <div class="row">
      <h2>Editar Puesto</h2>
    </div>
  </div>
</div>
<div class="row justify-content-center" >
  <div class="col-12 col-md-9" style="">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9">
        <%= form_for(@stall, url: admin_stall_path(@stall), html: {multipart: true}) do |form| %>
          <%= render 'admin/stalls/partials/form', form: form %>
        <% end %>
      </div>
    </div>
  </div>
</div>