<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="mt-2 brand-logo href="/" style="font-size: 1.7rem;">
      <%= image_tag("logo.png", size: "150x35", class: "") %>
    </a>
    <a class="brand-logo-mini" id="sidebarCollapse">
      <i class="fas fa-bars" style="font-size: 2rem; margin: 1rem;"></i>
    </a>
  </div>
</nav>